.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* AboutUs css */
/* Add these styles to your CSS file */

/* AboutUs.css */

/* Container for AboutUs page content */
.AboutUs-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
.AboutUs-container h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

/* Subheading styles */
.AboutUs-container h3 {
  font-size: 1.8rem;
  color: #555;
}

/* Paragraph styles */
.AboutUs-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 15px;
}

/* Add more styles as needed */
